<!DOCTYPE HTML>
<html>
<head>
 <title>Homepage</title>
<link type="text/css" rel="stylesheet" href="/static/css/accordion.css">
<link rel="stylesheet" href="/static/css/reset.css"> <!-- CSS reset -->
<link rel="stylesheet" href="/static/css/style.css"> <!-- Resource style -->
<script src="/static/js/modernizr.js"></script> <!-- Modernizr -->
<script type="text/javascript" src="/static/js/accordion.js"></script>

</head>
<body bgcolor="black">
	<header>
		<a id="cd-logo" href="#0"><img src="/static/img/cd-logo.svg" alt="Homepage"></a>
		<nav id="cd-top-nav">
			<ul>
				<li><a href="#0">导航</a></li>
				<li><a href="#0">登录</a></li>
			</ul>
		</nav>
		<a id="cd-menu-trigger" href="#0"><span class="cd-menu-text">菜单</span><span class="cd-menu-icon"></span></a>
	</header>
	<main class="cd-main-content">

		<!-- put your content here -->
<div id="center">
	<div id="slider">
		<div class="slide">
			<img class="diapo" src="/static/img/homepage/sf10.jpg" alt="">
			<div class="text">
				  <span class="title">{{ title[0] }}</span>
				  {{ annotation[0] }}
			</div>
		</div>
		<div class="slide">
			<img class="diapo" src="/static/img/homepage/sf14.jpg" alt="">
			<div class="text">
				<span class="title">{{ title[1] }}</span>
				Oostem's deep impulse flow is selectively regulated by a molecule
				originated in the prototype model, that creates its own variational
				principles, as oriented by the first local generation of terminable androids.
			</div>
		</div>
		<div class="slide">
			<img class="diapo" src="/static/img/homepage/sf24.jpg" alt="">
			<div class="text">
				  <span class="title">{{ title[2] }}</span>
				  Paired hosts come out nicely after only two cycles now. Their size has been
				  reduced to a half the original as planned, and indeed they show an
				  evolutionary advantage in the process of fixing self-generated instructions.
				  Plus, they are beautiful.
			</div>
		</div>
		<div class="slide">
			<img class="diapo" src="/static/img/homepage/sf04.jpg" alt="">
			<div class="text">
				<span class="title">{{ title[3] }}</span>
				Now I have regained hopes in someday finding myself surrounded by
				close-alikes to us. However, they will not be audible, at least not in my
				life span. We resolved the low freq vibration a superior solution for our
				communicational goals ...
			</div>
		</div>
		<div class="slide">
			<img class="diapo" src="/static/img/homepage/sf01.jpg" alt="">
			<div class="text">
				  <span class="title">{{ title[4] }}</span>
				  We did not expect their surface to produce such a carbon powder coat, though
				  this is the best model so far. I shall have to bear with the inconveniences.
				  They seem to establish a parallel communication through that carbon coat and
				  I find myself unable to decodify the signal into anything meaningful.
			</div>
		</div>
		<div class="slide">
			<img class="diapo" src="/static/img/homepage/sf15.jpg" alt="">
			<div class="text">
				  <span class="title">{{ title[5] }}</span>
				  Today a set of vibration came up from the zero level;  we expect to launch
				  the transitional program in no longer than five basetime units. Psykesoma?				  galore and we'll betray our very nature into infinite, unending 2D surfaces.
				  We do need that vibration, and we will conquer its source.
			</div>
		</div>
		<div class="slide">
			<img class="diapo" src="/static/img/homepage/sf41.jpg" alt="">
			<div class="text">
				  <span class="title">{{ title[6] }}</span>
				  To keep my sanity I wear the tactile sensors all the time. They translate
				  beautifully; I can even see distances while still on Psykesoma. This was
				  quite a discovery. We have grown more adaptable than expected.
			</div>
		</div>
		<div class="slide">
			<img class="diapo" src="/static/img/homepage/sf26.jpg" alt="">
			<div class="text">
				  <span class="title">{{ title[7] }}</span>
				  Yewoona had to travel farther and longer than I did. Her base orbiter was
				  set to keep a complex combinational path that made it uneasy to match our
				  circuits. But her nature showed stronger than programmed.
			</div>
		</div>
		<div class="slide">
			<img class="diapo" src="/static/img/homepage/sf50.jpg" alt="">
			<div class="text">
				  <span class="title">{{ title[8] }}</span>
				  Keep feeding them. We will never be this lucky again; an autogenerated
				  species adapted to serve all our needs!
			</div>
		</div>
		<div class="slide">
			<img class="diapo" src="/static/img/homepage/sf19.jpg" alt="">
			<div class="text">
				  <a class="title" href="#">{{ title[9] }}t</a>
				  "Blood is dark red, iron dark blue, this tale is blissful and so are you". I
				  should get to the hotel at soonest. The agency guy must be there already,
				  with some luck we'll have some nice dinner on him. How's that?
			</div>
		</div>
	</div>
</div>

	</main> <!-- cd-main-content -->

	<nav id="cd-lateral-nav">
		<ul class="cd-navigation">
			<li class="item-has-children">
				<a href="#0">服务</a>
				<ul class="sub-menu">
					<li><a href="#0">占位</a></li>
					<li><a href="#0">占位</a></li>
					<li><a href="#0">占位</a></li>
				</ul>
			</li> <!-- item-has-children -->

			<li class="item-has-children">
				<a href="#0">介绍</a>
				<ul class="sub-menu">
					<li><a href="#0">占个位</a></li>
					<li><a href="#0">占个位</a></li>
					<li><a href="#0">占个位</a></li>
					<li><a href="#0">占个位</a></li>
					<li><a href="#0">占个位</a></li>
				</ul>
			</li> <!-- item-has-children -->

			<li class="item-has-children">
				<a href="#0">功能</a>
				<ul class="sub-menu">
					<li><a href="#0">占了个位</a></li>
					<li><a href="#0">占了个位</a></li>
					<li><a href="#0">占了个位</a></li>
					<li><a href="#0">占了个位</a></li>
				</ul>
			</li> <!-- item-has-children -->
		</ul> <!-- cd-navigation -->

		<ul class="cd-navigation cd-single-item-wrapper">
			<li><a href="#0">引导</a></li>
			<li><a href="#0">登录</a></li>
			<li><a href="#0">注册</a></li>
			<li><a href="#0">占位</a></li>
			<li><a href="#0">支持</a></li>
		</ul> <!-- cd-single-item-wrapper -->

		<ul class="cd-navigation cd-single-item-wrapper">
			<li><a class="current" href="#0">Journal</a></li>
			<li><a href="#0">相关信息</a></li>
			<li><a href="#0">Terms &amp; Conditions</a></li>
			<li><a href="#0">Careers</a></li>
			<li><a href="#0">Students</a></li>
		</ul> <!-- cd-single-item-wrapper -->

		<div class="cd-navigation socials">
			<a class="cd-twitter cd-img-replace" href="#0">Twitter</a>
			<a class="cd-github cd-img-replace" href="#0">Git Hub</a>
			<a class="cd-facebook cd-img-replace" href="#0">Facebook</a>
			<a class="cd-google cd-img-replace" href="#0">Google Plus</a>
		</div> <!-- socials -->
	</nav>
<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/main.js"></script> <!-- Resource jQuery -->
<script type="text/javascript">
	/* ==== start script ==== */
	slider.init();
</script>
</body>
</html>
